# test comment
ORG_WIBBLE_TEST_CAMEL_CAPS={{ ORG_WIBBLE_TEST_CAMEL_CAPS }}
ORG_WIBBLE_TEST_LONG_PROPERTY={{ ORG_WIBBLE_TEST_LONG_PROPERTY }}

# testing = in value
ORG_WIBBLE_BROKER_URL={{ ORG_WIBBLE_BROKER_URL }}

# testing - in key
ORG_WIBBLE_MESSAGE_LISTENER_S3_ACCESS_KEY={{ ORG_WIBBLE_MESSAGE_LISTENER_S3_ACCESS_KEY }}

# testing weird cron
ORG_WIBBLE_CRON_FORMAT={{ ORG_WIBBLE_CRON_FORMAT }}
