# test comment
ORG_WIBBLE_TESTCAMELCAPS={{ ORG_WIBBLE_TESTCAMELCAPS }}
ORG_WIBBLE_TEST_LONG_PROPERTY={{ ORG_WIBBLE_TEST_LONG_PROPERTY }}

# testing = in value
ORG_WIBBLE_BROKERURL={{ ORG_WIBBLE_BROKERURL }}

# testing - in key
ORG_WIBBLE_MESSAGE_LISTENER_RETRYCOUNT={{ ORG_WIBBLE_MESSAGE_LISTENER_RETRYCOUNT }}

# testing weird cron
ORG_WIBBLE_CRONFORMAT={{ ORG_WIBBLE_CRONFORMAT }}
