# test comment
org.wibble.testCamelCaps={{ ORG_WIBBLE_TESTCAMELCAPS }}
org.wibble.test.long.property={{ ORG_WIBBLE_TEST_LONG_PROPERTY }}

# testing = in value
org.wibble.brokerURL={{ ORG_WIBBLE_BROKERURL }}

# testing - in key
org.wibble.message-listener.retryCount={{ ORG_WIBBLE_MESSAGE_LISTENER_RETRYCOUNT }}

# testing weird cron
org.wibble.cronFormat={{ ORG_WIBBLE_CRONFORMAT }}
